:root {
    --brand-color-primary: #10375C;
    --brand-color-primary-dark: #0D2C4A;
    --brand-color-secondary: #FF5722;
    --special-color-black: #222831;
    --description-color: #9A9A9A;
    --color-menu-link: #000000;
    --color-section-news: #F8F8F8;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-global-container {
    margin: 0 auto;
    max-width: 1110px;
    font-family: 'Lato', sans-serif;
}

.big-global-container {
    max-width: 1440px;
    margin: 0 auto;
}

.bottom-indent {
    margin-bottom: 112px;
}

.button {
    border: none;
    background: none;
}

.button:hover {
    cursor: pointer;
}

.rotate-90 {
    transform: rotate(-90deg);
}

.logo {
    display: flex;
    font-size: 1.5rem;
    font-family: 'Playfair Display', serif;
}

.logo__link {
    text-decoration: none;
    color: var(--brand-color-primary);
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    padding-top: 55px;
    padding-bottom: 55px;
}

.menu {
    display: flex;
    gap: 0 40px;
    font-size: 1rem;
}

.menu__link {
    text-decoration: none;
    color: var(--color-menu-link);
}

.authorization {
    display: flex;
}

.authorization__item {
    padding: 12px 24px;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
}

.login {
    border: none;
    background: none;
    color: var(--brand-color-secondary);
}

.sign-up {
    border: var(--brand-color-secondary);
    background-color: var(--brand-color-secondary);
    color: #fff;
    box-shadow: 0 4px 16px rgba(255, 87, 34, 0.32);
}

.intro {
    font-size: 1.25rem;
    color: var(--special-color-black);
}

.hero__intro {
    margin-bottom: 10px;
}

.hero__top {
    justify-content: space-between;
    align-items: flex-start;
}

.hero__title {
    width: 667px;
    margin-right: 60px;
    font-family: 'Lora', serif;
    font-size: 3.25rem;
    font-weight: 700;
    color: var(--brand-color-primary);
    line-height: 67px;
    padding: 0;
}

.hero__description {
    width: 30%;
    font-size: 1.25rem;
    line-height: 30px;
    color: #6A6A6A;
    text-align: justify;
}

.hero__title-first-word {
    color: var(--brand-color-secondary);
}

.hero__content {
    position: relative;
    min-height: 700px;
}

.search-form {
    position: absolute;
    top: 100px;
    left: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    max-height: 460px;
    padding: 42px 72px 30px 40px;
    background-color: var(--brand-color-primary);
    color: #fff;
}

.search-form__title {
    margin-bottom: 30px;
    font-family: 'Lora', serif;
    font-size: 1.9rem;
    font-weight: 700;
}

.search-form__button {
    width: 110%;
    padding: 12px;
    border: var(--brand-color-secondary);
    font-weight: 700;
    font-size: 1.2rem;
    color: #fff;
    background-color: var(--brand-color-secondary);
}

.custom-select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    background: #0D2C4A;
}

.search-form__custom-select {
    width: 110%;
    margin-bottom: 18px;
}

.custom-select__hint {
    padding-bottom: 2px;
    font-size: 1rem;
    opacity: 0.35;
}

.custom-select__option {
    line-height: 26px;
}

.slider {
    position: absolute;
    top: 0;
    left: 28%;
}

.our-space {
    flex-direction: column;
    font-family: 'Lora', serif;
}

.group-arrow {
    align-self: flex-end;
}

.our-space__top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.simple-section-title {
    font-weight: 700;
    font-size: 2.5rem;
    color: var(--brand-color-primary);
}

.our-space__description {
    width: 550px;

    font-size: 1.25rem;
    line-height: 28px;
    color: var(--description-color);
}

.our-space__group-card {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.our-space__indicator {
    margin-top: 45px;
}
.card__content {
    position: relative;
}

.card__button_arrow {
    position: absolute;
    left: 0;
    top: 83.9%;
    padding: 25px;
    border: var(--brand-color-secondary);
    background-color: var(--brand-color-secondary);
}

.card__title {
    margin-top: 25px;
    font-weight: 700;
    font-family: 'Lora', serif;
    color: var(--special-color-black);
    text-align: center;
}

.text-card {
    min-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Lora', serif;
    text-align: center;
    color: #fff;
    background-color: var(--brand-color-primary);
}

.text-card__top {
    align-self: flex-end;
    margin: 16px 16px;
    opacity: 0.2;
}

.text-card__bottom {
    align-self: flex-start;
}

.text-card__button-label {
    margin-right: 20px;
}

.text-card__title {
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 2rem;
}

.text-card__description {
    width: 255px;
    font-weight: 500;
    line-height: 28px;
}

.text-card__button {
    width: 250px;
    border: var(--brand-color-secondary);
    padding: 20px 15px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    background-color: var(--brand-color-secondary);
    color: #fff;
}

.indicator {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    color: var(--special-color-black);
}

.indicator__text {
    margin-top: 10px;
}

.indicator_disabled {
    font-size: 0.9rem;
    color: var(--description-color);
}

.why-frispes {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.advantage {
    width: 205px;
    display: flex;
}

.advantage__right-part {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    margin-left: 25px;
}

.advantage__title {
    margin-bottom: 8px;
    font-family: 'Lora', serif;
    font-size: 2rem;
    color: var(--brand-color-primary);
}

.advantage__description {
    color: var(--description-color);
}

.why-frispes__left-part {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    gap: 64px 90px;
}

.why-frispes__right-part {
    display: flex;
    flex-direction: column;
    padding: 53px;
    background-color: var(--brand-color-primary);
    color: #fff;
}

.why-frispes__top-title {
    font-size: 1.25rem;
    line-height: 30px;
    margin-bottom: 8px;
}

.why-frispes__bottom-title {
    width: 433px;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 51px;
}

.why-frispes__description {
    width: 430px;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 30px;
}

.section-intro__title {
    width: 570px;
    margin-top: 10px;
    font-family: 'Lora', sans-serif;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 51px;
    color: var(--brand-color-primary);
}

.our-facility__vertical-slider {
    margin-top: 50px;
}

.vertical-slider {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.vertical-slider__vertical-text {
    transform: rotate(-90deg);
    transform-origin: right bottom;
}

.vertical-slider__item {
    text-align: left;
    width: 100%;
    padding: 24px;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 24px;
    color: #222831;
}

.vertical-slider__item_selected {
    color: #FFFFFF;
    background-color: var(--brand-color-secondary);
    box-shadow: 2px 2px 20px rgba(255, 87, 34, 0.3); /* fix shadow */
}

.who-use {
    text-align: center;
}

.who-use__center-title-section {
    margin-bottom: 25px;
}

.center-title-section {
    font-family: 'Lora', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 51px;
    color: var(--brand-color-primary);
}

.who-use__description {
    margin-bottom: 55px;
    font-size: 1.25rem;
    color: var(--description-color);
}

.gallery__group-arrow {
    margin-top: 35px;
}

.brand-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reviews {
    position: relative;
}

.review {
    width: 430px;
    padding: 40px;
    background-color: var(--brand-color-primary);
    color: #FFFFFF;
}

.reviews__top {
    display: flex;
    flex-direction: column;
}

.reviews__group-arrow {
    margin-top: 20px;
    align-self: flex-end;
}

.reviews__content {
    display: flex;
    justify-content: space-between;
    gap: 0 30px;
    margin-top: 50px;
    font-size: 1rem;
    line-height: 26px;
}

.reviews__indicator {
    margin-top: 35px;
    display: flex;
    justify-content: center;
}

.review__text {
    min-height: 155px;
}

.review__author {
    margin-top: 95px;
}

.author {
    display: flex;
    align-items: center;
}

.author__photo {
    margin-right: 16px;
}

.author__description {
    display: flex;
    flex-direction: column;
    gap: 0 5px;
}

.faq {
    flex-direction: column;
}

.faq_center-title-section {
    max-width: 578px;
    margin-bottom: 51px;
    text-align: center;
}

.questions {
    display: flex;
    justify-content: space-between;
    gap: 0 25px;
    color: #000000;
}

.question {
    width: 360px;
    padding: 50px 20px;
    font-family: 'Lora', serif;
    background-color: #FFFFFF;
}

.question_select {
    background-color: var(--brand-color-secondary);
    color: #FFFFFF;
}

.question__content {
    font-size: 1.625rem;
    text-align: center;
    line-height: 33px;

}

.question__button {
    position: relative;
}

.question__button-content {
    position: absolute;
    left: 40%;
    top: 20px;
    padding: 10px 16px;
    background-color: var(--brand-color-secondary);
}

.question__button-content_select {
    background-color: #FFFFFF;
}

.faq__another-page {
    margin-top: 60px;
    margin-bottom: 40px;
}

.another-page {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 10px;
}

.another-page__link {
    font-size: 1.25rem;
    text-decoration: none;
    color: var(--brand-color-secondary);
}

.another-page__button {
    margin-top: 5px;
}

.news {
    background-color: var(--color-section-news);
}

.news__small-global-container {
    padding: 95px 0;
}

.news__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.news__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 55px;
}

.two-segment-news__author {
    margin-top: 55px;
}

.two-segment-news {
    width: 730px;
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
}

.two-segment-news__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 32px;
}

.two-segment-news__title {
    margin-bottom: 25px;
    font-family: 'Lora', serif;
    font-size: 2rem;
    line-height: 41px;
    font-weight: 700;
    color: var(--special-color-black);
}

.two-segment-news__description {
    width: 315px;
    margin-bottom: 16px;
    font-size: 1rem;
    line-height: 26px;
    color: var(--description-color);
}

.two-segment-news__author-name {
    font-size: 1.25rem;
    line-height: 28px;
    color: var(--brand-color-primary);
}

.two-segment-news__author-profession {
    font-size: 1rem;
    line-height: 26px;
    color: var(--description-color);
}

.one-segment-news {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
}

.one-segment-news__content {
    width: 350px;
    padding-left: 16px;
}

.one-segment-news__title {
    margin-top: 15px;
    font-family: 'Lora', serif;
    font-size: 1.4rem;
    line-height: 28px;
    color: var(--special-color-black);
}

.one-segment-news__author {
    margin-top: 5px;
    padding-bottom: 15px;
    font-size: 1rem;
    line-height: 26px;
    color: var(--description-color);
}

.become-member {
    background-color: var(--brand-color-primary);
}

.become-member__small-global-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.become-member__info {
    width: 445px;
}

.become-member_highlight {
    color: #FFFFFF;
}

.become-member__description {
    margin-top: 16px;
    font-size: 1.1rem;
    line-height: 30px;
    color: #DFDFDF;
}

.become-member__sign-up {
    margin-top: 35px;
    padding: 15px 115px;
    font-weight: 700;
    font-size: 1rem;
    line-height: 28px;
    background-color: var(--brand-color-secondary);
    color: #FFFFFF;
}

.footer {
    background: var(--brand-color-primary-dark);
}

.footer__small-global-container {
    display: flex;
    justify-content: space-between;
    padding: 55px 0;
}

.footer__logo {
    margin-bottom: 15px;
}

.footer__logo-link {
    font-family: 'Lora', serif;
    font-weight: 700;
    font-size: 3.3rem;
    line-height: 67px;
    color: #FFFFFF;
}

.footer__our-benefits {
    width: 255px;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    line-height: 26px;
    color: var(--color-section-news);
    opacity: 0.85;
}

.footer__list-icon {
    display: flex;
    margin-top: 25px;
    gap: 0 16px;
}

.custom-vertical-list {
    color: #FFFFFF;
}

.footer__customer-vertical-list {
    margin-top: 35px;
}

.footer__right-part {
    display: flex;
    gap: 0 70px;
}

.custom-vertical-list__title {
    margin-bottom: 25px;
    font-size: 1.125rem;
    line-height: 30px;
    opacity: 0.5;
}

.custom-vertical-list__list {
    display: flex;
    flex-direction: column;
    gap: 10px 0;
}

.custom-vertical-list__item-link {
    width: 220px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
    line-height: 26px;
}