:root {
    --brand-color-primary:#10375C;
    --brand-color-secondary:#FF5722;
    --special-color-black: #222831;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper__left-indent {
    margin-left: 10%;
}

.button:hover {
    cursor: pointer;
}

.wrapper {
    max-width: 1440px;
    font-family: 'Lato', sans-serif;
}

.wrapper__header {
    margin-top: 4%
}

.wrapper_hero {
    margin-top: 55px;
}

.wrapper_hero__our-space {
    margin-bottom: 115px;
}

.logo {
    display: flex;
    font-size: 1.5rem;
    color: var(--brand-color-primary);
    font-family: 'Playfair Display', serif;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
}

.navigation__logo {
    margin-right: 20%;
}

.menu {
    display: flex;
    gap: 0 40px;
    font-size: 1rem;
}

.menu__link {
    text-decoration: none;
    color: #000000;
}

.authorization {
    display: flex;
    font-family: 'Lato', sans-serif;
}

.authorization__item {
    padding: 12px 24px;
    text-align: center;
}

.login {
    color: var(--brand-color-secondary);
}

.sign-up {
    background-color: var(--brand-color-secondary);
    color: #fff;
    box-shadow: 0 4px 16px rgba(255, 87, 34, 0.32);
}

.intro {
    font-size: 1.25rem;
    color: var(--special-color-black);
}

.hero__intro {
    margin-bottom: 10px;
}

.hero__top {
    justify-content: space-between;
    align-items: flex-start;
}

.hero__title {
    width: 667px;
    font-family: 'Lora', serif;
    font-size: 3.25rem;
    font-weight: 700;
    color: var(--brand-color-primary);
    line-height: 67px;

    margin-right: 60px;
    padding: 0;
}

.hero__description {
    width: 30%;
    font-size: 1.25rem;
    line-height: 30px;
    color: #6A6A6A;
    text-align: justify;
}

.hero__title-first-word {
    color: var(--brand-color-secondary);
}

.hero__content {
    min-height: 700px;
    position: relative;
}


.search-form {
    display: flex;
    flex-direction: column;
    background-color: var(--brand-color-primary);
    color: #FFFFFF;
    max-height: 460px;
    padding: 42px 72px 30px 40px;
    position: absolute;
    top: 100px;
    left: 0;
    z-index: 2;
}

.search-form__title {
    font-family: 'Lora', serif;
    font-size: 1.9rem;
    font-weight: 700;
    margin-bottom: 30px;
}

.search-form__button {
    font-family: 'Lato', sans-serif;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 1.2rem;
    background-color: var(--brand-color-secondary);
    border: var(--brand-color-secondary);
    width: 110%;
    padding: 12px;
}


.custom-select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0D2C4A;
    padding: 8px 16px;
}

.search-form__custom-select {
    margin-bottom: 18px;
    width: 110%;
}

.custom-select__hint {
    font-family: 'Lato', sans-serif;
    opacity: 0.35;
    font-size: 1rem;
    padding-bottom: 2px;
}

.custom-select__option {
    line-height: 26px;
}

.slider {
    position: absolute;
    top: 0;
    right: 0;
}

.our-space {
    font-family: 'Lora', serif;
    flex-direction: column;
}

.our-space__group-arrow {
    align-self: flex-end;
}

.our-space__top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.our-space__title {
    font-weight: 700;
    font-size: 2.5rem;
    color: var(--brand-color-primary);
}

.our-space__description {
    width: 550px;
    font-size: 1.25rem;
    line-height: 28px;
    color: #9A9A9A;
}

.our-space__group-card {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.our-space__indicator {
    margin-top: 45px;
}
.card__content {
    position: relative;
}

.card__button_arrow {
    position: absolute;
    left: 0;
    top: 83.9%;
    border: var(--brand-color-secondary);
    background-color: var(--brand-color-secondary);
    padding: 25px;
}

.rotate-90 {
    transform: rotate(-90deg);
}

.card__title {
    margin-top: 25px;
    font-weight: 700;
    font-family: 'Lora', serif;
    color: var(--special-color-black);
    text-align: center;
}

.text-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-family: 'Lora', serif;
    color: #FFFFFF;
    min-width: 350px;
    background-color: var(--brand-color-primary);
}

.text-card__top {
    align-self: flex-end;
    opacity: 0.2;
    margin: 16px 16px;
}

.text-card__bottom {
    align-self: flex-start;
}

.text-card__button-label {
    margin-right: 20px;
}

.text-card__title {
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 15px;
}

.text-card__description {
    width: 255px;
    font-weight: 500;
    line-height: 28px;
}

.text-card__button {
    width: 250px;
    background-color: var(--brand-color-secondary);
    border: var(--brand-color-secondary);
    padding: 20px 15px;
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.indicator {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    color: var(--special-color-black);
}

.indicator__text {
    margin-top: 10px;
}

.indicator_disabled {
    font-size: 0.9rem;
    color: #9A9A9A;
}

.why-frispes {
    display: flex;
    justify-content: space-between;
}

.advantage {
    width: 205px;
    display: flex;
}

.advantage__right-part {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    margin-left: 25px;
}

.advantage__title {
    font-family: 'Lora', serif;
    color: var(--brand-color-primary);
    font-size: 2rem;
    margin-bottom: 8px;
}

.advantage__description {
    font-family: 'Lato', sans-serif;
    color: #9A9A9A;
}

.why-frispes__left-part {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    gap: 64px 124px;
}

.why-frispes__right-part {
    display: flex;
    flex-direction: column;
    background-color: var(--brand-color-primary);
    color: #FFFFFF;
    padding: 53px;
}

.why-frispes__top-title {
    font-family: 'Lato', sans-serif;
    font-size: 1.25rem;
    line-height: 30px;
    margin-bottom: 8px;
}

.why-frispes__bottom-title {
    width: 433px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 51px;
    margin-bottom: 24px;
}

.why-frispes__description {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 30px;
    width: 450px;
}